{% extends "base.html" %}

{% block title %}Show{% endblock %}


{% block content %}


{% for s in statements %}
<div class="card mb-4 bg-success-subtle">
    <div class="card-body">
        {{ s.text }}
    </div>

    <div class="card-footer">
        <ul class="list-group">
            {% for c in s.citations %}
            <li class="list-group-item">
                {{ citation_map[c.ref_id]|safe }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}